<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hylexus.cloud.dao.DeptDao">

    <select id="findAll" resultType="cn.hylexus.cloud.entity.DeptEntity">
        SELECT id, name, db_source AS dataSource
        FROM dept
    </select>

    <select id="findById" resultType="cn.hylexus.cloud.entity.DeptEntity">
        SELECT id, name, db_source AS dataSource
        FROM dept
        where id = #{id}
    </select>

</mapper>
 

